pyrogram
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp
PyPDF2
gTTS
aiofiles
Pillow
googletrans==3.1.0a0
pyshorteners
requests
telegraph
psutil==5.9.4
wget
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl
countryinfo
